@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #1c2e49;
    --secondary-color: #D81E5B;
    --text-color: whitesmoke;
    --font: 'Permanent Marker', cursive;    
}

html {
    height: 100%;
}

body {
    font-family: var(--font);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header, main {
    padding: 20px;
}

#navbar, #navlinks, main, footer, #primary-container, #secondary-container, #form, .player-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar {
    justify-content: space-between;
}

#logo {
    font-size: 2rem;
}

#navlinks {
    list-style: none;
    gap: 20px;
}

#navlinks > li > a > img {
    height: 2rem;
    transition: all .3s;
}

#navlinks > li > a > img:hover {
    transform: scale(1.2);
}

#primary-container, #secondary-container, #ternary-container, #pre-ternary, #post-ternary {
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    padding: 25px;
    flex-direction: column;
    gap: 50px;
}

#question, #form-fill {
    text-align: center;
}

#answers {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 10px 0 10px 0;
}

.answer-btn, #start-game-btn {
    width: 8em;
    padding: 10px 0;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    background: transparent;
    color: var(--text-color);
    transition: all .3s;
}

.answer-btn:hover, #start-game-btn:hover {
    transform: scale(1.2);
    background-color: var(--secondary-color);
    cursor: pointer;
}

#start-game-btn {
    width: 8.5rem;
}

#secondary-container, #ternary-container {
    display: none;
}

#form, .player-form {
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

#form {
    gap: 30px;
}

.player-heading {
    text-decoration: underline;
}

.input {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #3a5e95;
}

.input::placeholder, .input {
    color: var(--text-color);
    font: var(--font);
}

.input:focus {
    outline: none;
    border: 2px solid var(--secondary-color);
}

#warning {
    font-size: 12px;
    color: yellow;
    font-weight: lighter;
    align-self: flex-end;
    display: none;
}

#ternary-container {
    gap: 0px;
    grid-template-columns: repeat(3, 1fr);
    width: 43vh;
    height: 50vh;
}

.box {
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pre-ternary, .player-data, #post-ternary {
    display: flex;
    gap: 20px;
}

.player-data {
    justify-content: space-between;
    align-items: center;
}

#pre-ternary, #post-ternary {
    display: none;
}

footer {
    margin-top: auto;
    padding: 10px;
}

footer > p {
    text-align: center;
}